body, h1, h3, p, nav {
  margin:0 0 0 0;
  padding:0 0 0 0;
  border:0 0 0 0;
}
body{
  text-align: center;
}
h1{
  padding-top: 10px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 20px;
  border-bottom-width: 3px;
  border-bottom-style: double;
  font-family: 'Allura', cursive, sans-serif;
  font-size: 74px;
}
nav{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-bottom-style: double;
  border-bottom-width: 3px;
  border-left-style: double;
  border-left-width: 3px;
  border-right-style: double;
  border-right-width: 3px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 50px;
}
h3{
  padding: 10px 15px 10px 5px;
  text-align: left;
  text-decoration: underline;
}
#bio{
  margin-left: 20%;
  margin-right: 20%;
  border-width: 3px;
  border-style: double;
  border-radius: 10px 10px 10px 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
